<a href="https://colab.research.google.com/github/binlee52/Individaul-Research-1/blob/Data-Preprocessing/2_MergeDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Google drive 연결
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import pandas as pd

# File Link<br>

csv 파일로 data frame 생성. <br>
movie_name, imdb_id 확인 필요

In [0]:
link = "/content/drive/My Drive/Colab Notebooks/datasets/movie_Action.csv"                  # movie_Action.csv load
index = 196 # 태깅할 영화 선택
data = pd.read_csv(link)                # movie_Action data의 Data Frame 생성
imdbID = data.loc[index, 'imdb_id']     # imdb id 추출
print(data.loc[index, 'movie_name'])
del data

Reindeer Games

In [0]:
tagging_link = "/content/drive/My Drive/Colab Notebooks/tagged_script/" + imdbID + ".csv"
data = pd.read_csv(tagging_link)
data[:]

                                         sentence  label
0                                "REINDEER GAMES"      0
1                                   Screenplay by      0
2                                    Ehren Kruger      0
3                                        FADE IN:      0
4                    FIGURE IN A SANTA CLAUS SUIT      1
...                                           ...    ...
5105           ...and at the head of the table...      1
5106                                 Rudy Duncan.      1
5107                          Home for Christmas.      1
5108                                CUT TO BLACK.      5
5109                                      THE END      0

[5110 rows x 2 columns]

In [0]:
#del df
df = pd.DataFrame(columns=["sentence", "label"])    # tagged scrpt의 Data Frame 생성
df.columns

Index(['sentence', 'label'], dtype='object')

# Merge<br>
csv 파일에 분할되어 저장된 문장(대사, 설명문)을 합친다.

In [0]:
temp = ""
cnt = 0
for index, row in data.iterrows():
    if ((index + 1 != len(data)) and data.loc[index + 1, "label"] == row["label"] and (row["label"] == 3 or row["label"] == 1)):
        temp += " " + row["sentence"].strip()
        temp = temp.strip()
    else:
        temp += " " + row["sentence"].strip()
        temp = temp.strip()
        df.loc[cnt, "sentence"] = temp
        df.loc[cnt, "label"] = row["label"]
        temp = ""
        cnt += 1

In [0]:
df.loc[3109, 'label'] = 0
df[:]

                                               sentence label
0                                      "REINDEER GAMES"     0
1                                         Screenplay by     0
2                                          Ehren Kruger     0
3                                              FADE IN:     0
4     FIGURE IN A SANTA CLAUS SUIT lies face-down in...     1
...                                                 ...   ...
3106                                             FATHER     2
3107                         Son? Is... is that you...?     3
3108  The Santa Claus shuffles inside, right past th...     1
3109                                      CUT TO BLACK.     0
3110                                            THE END     0

[3111 rows x 2 columns]

# Data Load<br>
생성한 파일 저장
초기 불러온 파일위치, 명으로 저장

In [0]:
df.to_csv(tagging_link, index = False)